@model HomeViewModel

<partial name="_Carousel"/>

<h3>Foods of the week </h3>
<h4>Our Weekly selection - just for you!</h4>

<div class="row">
    @foreach (var food in Model.FoodsOfTheWeek)
    {
        <partial name="_FoodCard" model="food"/>
    }
</div>

@* *@
@* <div class="text-center"> *@
@*     <h1 class="display-4">Welcome</h1> *@
@*     <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
@* </div> *@